$home_bg: green;
$who_bg: #456990;
$about_bg: yellow;
$footer_bg: #171A21;
$menu_bg: white;
$contact_bg: #817E9F;
$participate_bg: #114B5F;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif; 
$title-font-size: 1.1rem;
$person-font-size: 0.8rem;
h2 {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}
